*{
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
   }
          
  body{
   width: 100%;
   height: 100vh;
   position: relative;
   background-color: rgb(227, 238, 235);
  }

/* /NAVBAR BAŞLANGICI/ */
       .navbar {
          background-color: rgb(39, 37, 37);
          height: 50px;
          color: rgb(56, 136, 240);
          position: sticky; 
          top: 0;
          z-index: 1;
          display: block;
      }

      .navbar-wrapper {
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 100%;
          padding: 0 50px;
      }

      .blog {
          font-size: 30px;
          color:rgb(56, 136, 240);
          
      }

      .menu-list {
          display: flex;
          list-style: none;
          column-gap: 30px;
          padding: 0;
      }


      .menu-list-item {
          cursor: pointer;
      }


      .menu-list-item:hover {
          font-weight: bold;

      }

      .menu-list-item.active {
          font-weight: bold;
      }

      .profile-container {
          display: flex;
          align-items: center;
          column-gap: 20px;
      }

      .profile-picture {
          width: 32px;
          height: 32px;
          object-fit: cover;
          border-radius: 50%;
      }


      .profile-text-container {
          display: flex;
          align-items: center;
          column-gap: 5px;
          line-height: 1;
      }
      
      img {
        width: 750px;
        height: 550px;
        max-width: 100%;
        margin-top: 100px;
        
        }
         
   footer{
        background-color: #252525;
        color: #2a76da;
        text-align: center;
        width: 100%;
        padding: 0 0 10px 0;
        margin-top: 150px;
        bottom: 0;
     }
            
    footer.p {
        padding: 25px 0;
        
      
     }
            
    